<%- include('partials/header'); -%>
<form action="/user/signup" method="post">
  <h2>Sign up</h2>
  <% if(error) { %>
    <h4> <%= error %> </h4>
     <% } %>
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" required />
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" required />
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Sign up</button>
</form>
<%- include('partials/footer'); -%>
